 h1 {
	font-family: 'Special Elite', cursive;
  }
  
  
  h2 {
	font-family: 'Special Elite', cursive;
  }
  
  
  h5 {
	font-family: 'Righteous', cursive;
  }


 body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1170px;
	margin: auto;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 20px;
	padding: 10px;
}

img {
	margin: 0%;
	float: left;
	margin-top: 0%;
	padding: 5px;
}
